{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="page">
			<nav class="breadcrumbs">
				<div class="breadcrumbs__container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><span class="breadcrumbs__current">Калькулятор</span>
						</li>
					</ul>
				</div>
			</nav>
			<section class="calc section-bottom">
				<div class="calc__container">
					<div class="calc-form">
						<h2 class="calc-form__title title">Рассчитайте стоимость банкротства онлайн</h2>
						<form id="form" method="post" class="calc__form form">
							{% csrf_token %}
							<div class="form__top">
								<div class="calc__options options">
									<div class="options__item">
										<input id="co_1" class="options__input" checked="" type="radio" value="Физическое лицо" name="UF_CRM_1719398284">
										<label for="co_1" class="options__label">
											<span class="options__text">Физическое лицо</span>
										</label>
									</div>
									<div class="options__item">
										<input id="co_2" class="options__input" type="radio" value="Поручитель" name="UF_CRM_1719398284">
										<label for="co_2" class="options__label">
											<span class="options__text">Поручитель</span>
										</label>
									</div>
									<div class="options__item">
										<input id="co_3" class="options__input" type="radio" value="Индивидуальный предприниматель" name="UF_CRM_1719398284">
										<label for="co_3" class="options__label">
											<span class="options__text">Индивидуальный предприниматель</span>
										</label>
									</div>
								</div>
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="debt">Сумма долга, руб.<span>*</span></label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="debt" type="number" placeholder="10000" name="UF_CRM_1549196720577" required>
										</div>
									</div>
								</div>

								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="region">Регион</label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="region" type="text" placeholder="Москва" required>
										</div>
									</div>
								</div>

								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="mortgaged">Единиц залогового имущества</label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="mortgaged" type="number" placeholder="1" required>
										</div>
									</div>
								</div>

								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="income">Доход в рублях<span>*</span></label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="income" type="number" placeholder="10000" name="UF_CRM_1651668913" required>
										</div>
									</div>
								</div>
							</div>
							<div class="form__bottom">
								<div class="form__row">
									<label for="cold_1" class="form__label title-subtitle _options">Ваш возраст</label>
									<div class="calc__options options">
										<div class="options__item">
											<input id="cold_1" class="options__input" checked="" type="radio" value="Трудоспособный" name="UF_CRM_1719398488" required>
											<label for="cold_1" class="options__label">
												<span class="options__text">Трудоспособный</span>
											</label>
										</div>
										<div class="options__item">
											<input id="cold_2" class="options__input" type="radio" value="Пенсионер" name="UF_CRM_1719398488">
											<label for="cold_2" class="options__label">
												<span class="options__text">Пенсионер</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="count-debt">Число кредиторов (всего, от 1 до 99)<span>*</span></label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="count-debt" type="text" placeholder="1" name="UF_CRM_1639566439" required>
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="count-dependents">Количество иждивенцев</label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="count-dependents" type="text" placeholder="0" name="UF_CRM_1719398624" required>
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="count-dependents">Имя</label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="NAME" type="text" placeholder="0" name="NAME" required>
										</div>
									</div>
								</div>
								<div class="form__row">
									<div class="form__column">
										<label class="form__label" for="count-dependents">Номер телефона</label>
										<div class="form__input">
											<input class="input" autocomplete="off" id="PHONE" type="text" placeholder="+7-(999)-999-99-99" name="PHONE" required>
										</div>
									</div>
								</div>
							</div>
							<div class="form__footer">
								<div class="form__row">
									<div class="form__text">
										Нажимая на кнопку “Узнать” я даю согласие на обработку <a href="">персональных данных</a>
									</div>
								</div>
								<div class="form__row">
									<button class="form__button button" type="submit">Узнать</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
    {% include 'inc/chunks/_cases.html' %}
    {% include 'inc/chunks/_form.html' %}
		</main>


{% endblock %}
