{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
			<nav class="breadcrumbs">
				<div class="breadcrumbs__container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
						<li class="breadcrumbs__item"><span class="breadcrumbs__current">Контакты</span>
						</li>
					</ul>
				</div>
			</nav>
			<div class="contacts-page section-top section-bottom">
				<div class="contacts-page__container">
					<div class="contacts-page__info">
						<div class="contacts-page-item">
							<div class="contacts-page-item__label">Выберите офис</div>
							<div class="select select_city _select-active" data-id="1">
								<select name="form[]" data-class-modif="city" hidden="" data-id="1" data-speed="150">
								<option value="1" selected="">Ростов-на-Дону</option>
								<option value="2">Москва</option>
								<option value="3">Санкт-Петербург</option>
							</select>

							</div>
						</div>
						<div id="Rostov" class="city_check">
							<div class="contacts-page-item">
								<div class="contacts-page-item__label">Номер телефона</div>
								<a class="contacts-page__text" href="tel:+78006005668">+7 800 600 56 68</a>
							</div>
							<div class="contacts-page-item">
								<div class="contacts-page-item__label">Наша почта</div>
								<a class="contacts-page__text" href="mailto:info@bfl.ru">info@bfl.ru</a>
							</div>
							<div class="contacts-page-item">
								<div class="contacts-page-item__label">Адрес офиса</div>
								<div class="contacts-page__text">Семашко 35/53</div>
								<small>Пн - Пт с 9:00 до 18:00</small>
							</div>
						</div>


<!--						<div id="MSK" class="city_check">-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Номер телефона</div>-->
<!--								<a class="contacts-page__text" href="tel:+78006005668">+7 800 600 56 68</a>-->
<!--							</div>-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Наша почта</div>-->
<!--								<a class="contacts-page__text" href="mailto:info@bfl.ru">info@bfl.ru</a>-->
<!--							</div>-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Адрес офиса</div>-->
<!--								<div class="contacts-page__text">ул. Жуковского д. 25, под. 5, оф. 29</div>-->
<!--								<small>Пн - Пт с 9:00 до 18:00</small>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div id="SPB" class="city_check">-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Номер телефона</div>-->
<!--								<a class="contacts-page__text" href="tel:+78006005668">+7 800 600 56 68</a>-->
<!--							</div>-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Наша почта</div>-->
<!--								<a class="contacts-page__text" href="mailto:info@bfl.ru">info@bfl.ru</a>-->
<!--							</div>-->
<!--							<div class="contacts-page-item">-->
<!--								<div class="contacts-page-item__label">Адрес офиса</div>-->
<!--								<div class="contacts-page__text">ул. Жуковского д. 25, под. 5, оф. 29</div>-->
<!--								<small>Пн - Пт с 9:00 до 18:00</small>-->
<!--							</div>-->
<!--						</div>-->
					</div>
					<div class="contacts-page__map">
						<div class="map map_active -ibg" data-map="1">
							<picture>
								<source media="(min-width: 479.98px)" srcset="{% static 'img/map/rostov.svg' %}">
								<img src="{% static 'img/map/rostov_m.svg' %}" alt="Image">
							</picture>
						</div>
						<div class="map -ibg" data-map="2" hidden="">
							<picture>
								<source media="(min-width: 479.98px)" srcset="{% static 'img/map/moscow.svg' %}">
								<img src="{% static 'img/map/moscow_m.svg' %}" alt="Image">
							</picture>
						</div>
						<div class="map -ibg" data-map="3" hidden="">
							<picture>
								<source media="(min-width: 479.98px)" srcset="{% static 'img/map/spb.svg' %}">
								<img src="{% static 'img/map/spb_m.svg' %}" alt="Image">
							</picture>
						</div>
					</div>
				</div>
			</div>

			{% include 'inc/chunks/_quiz.html' %}

		</main>

<style>
	.city_check{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

</style>
{% endblock %}