{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
			<nav class="breadcrumbs">
				<div class="breadcrumbs__container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="{% url 'index' %}" class="breadcrumbs__link">Главная</a></li>
<!--						<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Клиентам</a></li>-->
						<li class="breadcrumbs__item"><span class="breadcrumbs__current">Основные вопросы по банкротству физических лиц</span>
						</li>
					</ul>
				</div>
			</nav>
			<section class="faq section-top section-bottom">
				<div class="faq__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">основные вопросы по банкротству физических лиц</h2>
							<div data-spollers="" class="spollers _spoller-init">
								<details class="spollers__item" open="">
									<summary class="spollers__title _spoller-active">Как происходит банкротство физических лиц?</summary>
									<div class="spollers__body" style="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Сколько длится банкротство физического лица?</summary>
									<div class="spollers__body" hidden="">
											<p>В среднем процедура банкротства длится 8 месяцев. <br> Сюда входит подготовка нужных документов, написание заявления и отправление его в суд, далее гражданину присваивается номер дела и назначается первое заседание о признании гражданина банкротом и введения процедуры реализации имущества, либо введение процедуры реструктуризации. Заканчивается вся процедура заседанием о завершение процедуры банкротства </p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Что нужно для банкротства физического лица?</summary>
									<div class="spollers__body" hidden="">
										<p>Согласно федеральному закону о банкротстве, гражданину ОБЯЗАН обратиться в арбитражный суд по месту регистрации с заявлением о банкротстве, если сумма задолженности уже превысила более 300 тысяч руб.,
											а просрочка составляет 3 и более месяцев. <br> Однако, гражданин ИМЕЕТ ПРАВО обратиться в арбитражный суд с заявлением о банкротстве, с общей суммой долга менее 300 тысяч.
Необходимые документы: ПАСПОРТ, СНИЛС и ИНН, документы о семейном положении (свидетельство о браке/расторжении брака, свидетельства о рождении детей). Документация о финансовом положении заявителя.
</p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Сколько стоит банкротство физического лица?</summary>
									<div class="spollers__body" hidden="">
										<p>В среднем процедура банкротства стоит 140 000. Она состоит из судебных расходов, которые вы платите в суд - депозит, публикация, пошлина,
											комиссия, дополнительный депозит и составляет 67 тысяч рублей, а также сюда входит работа отдела юристов, работа отдела сопровождения и
											клиентский сервис.</p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Как подать заявление на банкротство физического лица?
									</summary>
									<div class="spollers__body" hidden="">
										<p>Для подачи заявления в суд гражданину необходимо собрать все документы и подготовить заявление на
											банкротство физического лица.
											<br>Такое заявление Вам необходимо направить всем своим кредиторам и оплатить государственную пошлину. После этого все документы вы подаете в
											Арбитражный суд по месту своего жительства.
											<br>Перечень документов, которые необходимо собрать должнику, установлен статьей 213.4 Федерального закона № 127-ФЗ от
											26.10.2002 «О несостоятельности (банкротстве)».
</p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Нужен ли юрист или адвокат при банкротстве физического
										лица?
									</summary>
									<div class="spollers__body" hidden="">
										<p>Нужен ли юрист или адвокат при банкротстве физ лица?
											<br>59 АПК РФ регламентирует, граждане вправе вести свои дела в арбитражном суде лично или через представителей.
											<br>Ведение дела лично, не лишает гражданина права иметь представителей.
											Но во избежание ошибок, все документы должен подготавливать юрист.
</p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Какие последствия банкротства физического лица?
									</summary>
									<div class="spollers__body" hidden="">
										<ul>
											<li>
												гражданин должен предупреждать о факте банкротства, если обращаешься за кредитом (в течение 5 лет)

											</li>
											<li>
												гражданин не может участвовать в управлении юридическим лицом (в течение 3 лет)
											</li>
											<li>
												гражданин не может участвовать в управлении кредитной организацией (в течение 10 лет)
											</li>
											<li>
												гражданин не может повторно объявить себя банкротом (в течение 5 лет)
											</li>
											<li>
												гражданин не может занимать должности в органах управления в финансовых организациях (в течение 5 лет)
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Заберут ли единственное жилье за долги?</summary>
									<div class="spollers__body" hidden="">
										<p>Единственное жилье гражданина в процедуре банкротства не попадает в конкурсную массу и не реализовывается.
											<br>Единственным жильем считается: квартира, земельный участок с построенным на нем жилым домом.
											<br>Может встать вопрос в роскоши жилья, однако, согласно ФЗ-283, статьи 7, пункта 1, есть норма предоставления площади жилого помещения в собственность
											или по договору социального найма, составляет она:</p>

										<ul>
											<li>
												33 квадратных метра общей площади жилого помещения - на одного человека
											</li>
											<li>
												42 квадратных метра общей площади жилого помещения - на семью из двух человек
											</li>
											<li>
												18 квадратных метров общей площади жилого помещения на каждого члена семьи (на семью из трех и более человек)
											</li>

										</ul>
										<p>Поэтому такие случаи нужно обговаривать индивидуально.</p>
									</div>
								</details>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'inc/chunks/_quiz.html' %}
			{% include 'inc/chunks/_cases.html' %}
		</main>


{% endblock %}
