{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
			<nav class="breadcrumbs">
				<div class="breadcrumbs__container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item"><a href="{% url 'index' %}" class="breadcrumbs__link">Главная</a></li>
<!--						<li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Клиентам</a></li>-->
						<li class="breadcrumbs__item"><span class="breadcrumbs__current">Основные вопросы по банкротству физических лиц</span>
						</li>
					</ul>
				</div>
			</nav>
			<section class="faq section-top section-bottom">
				<div class="faq__container">
					<div class="content-block">
						<div class="content-block__left">
							<div class="content-block__line"></div>
						</div>
						<div class="content-block__info">
							<h2 class="content-block__title title">основные вопросы по банкротству физических лиц</h2>
							<div data-spollers="" class="spollers _spoller-init">
								<details class="spollers__item" open="">
									<summary class="spollers__title _spoller-active">Как происходит банкротство физических лиц?</summary>
									<div class="spollers__body" style="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Сколько длится банкротство физического лица?</summary>
									<div class="spollers__body" hidden="">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur
											corporis cupiditate delectus dolore ex harum iure libero modi mollitia nostrum,
											praesentium quasi quod rerum sint unde vitae voluptate!</p>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Что нужно для банкротства физического лица?</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Сколько стоит банкротство физического лица?</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Как подать заявление на банкротство физического лица?
									</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Нужен ли юрист или адвокат при банкротстве физического
										лица?
									</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Какие последствия банкротства физического лица?
									</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
								<details class="spollers__item">
									<summary class="spollers__title">Заберут ли единственное жилье за долги?</summary>
									<div class="spollers__body" hidden="">
										Процедура Банкротства физических лиц проходит в следующей последовательности:
										<ul>
											<li>
												Сбор документов на банкротство физлица
											</li>
											<li>
												Составление заявления на банкротство
											</li>
											<li>
												Оплата госпошлины и депозита на счёт арбитражного суда
											</li>
											<li>
												Подача заявления в суд с пакетом необходимых документов
											</li>
											<li>
												Судебное заседание по рассмотрению заявления
											</li>
											<li>
												Непосредственно сама процедура банкротства, в которой ключевую роль играет
												специальная фигура - финансовый управляющий
											</li>
											<li>
												Завершение процедуры банкротства
											</li>
										</ul>
									</div>
								</details>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'inc/chunks/_quiz.html' %}
			{% include 'inc/chunks/_cases.html' %}
		</main>


{% endblock %}
