{% load static %}
<section class="quiz-main section-bottom">
				<div class="quiz-main__container">
					<div class="quiz">
						<img src="{% static 'img/quiz-img.png' %}" alt="Image" class="quiz__img">
						<div class="quiz__content">
							<div class="content-quiz content-quiz_content_1 content-quiz-active">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">До расчета осталось</div>
									<div class="content-quiz-info__progress">5 вопросов</div>
								</div>
								<h2 class="quiz__title title">Рассчитайте стоимость банкротства онлайн</h2>
								<div class="quiz__text title-subtitle">
									Ответьте на вопросы и узнайте <span>за 1 минуту</span> подходит ли вам процедура
									банкротства и
									<span>получите точную стоимость</span>
								</div>
								<form action="{% url 'handler' %}" method="post">
									{% csrf_token %}
									<input type="hidden" name="TITLE" id="title">
								<div class="quiz__progress progress">
									<div class="progress__title">Вопрос 1</div>
									<div class="progress__line">
										<div class="progress__percent" style="width: 20%"></div>
									</div>
								</div>
								<div class="content-quiz__title">Какая у вас сумма долга?<span>*</span></div>
								<div class="options">
									<div class="options__item">
										<input id="o1_1" class="options__input" checked="" type="radio" value="от 300 000 ₽ до 500 000 ₽" name="UF_CRM_1627289620">
										<label for="o1_1" class="options__label">
											<span class="options__text">от 300 000 ₽ до 500 000 ₽</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o1_2" class="options__input" type="radio" value="от 500 000 ₽ до 1 000 000 ₽" name="UF_CRM_1627289620">
										<label for="o1_2" class="options__label">
											<span class="options__text">от 500 000 ₽ до 1 000 000 ₽</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o1_3" class="options__input" type="radio" value="от 1 000 000 ₽ до 2 000 000 ₽" name="UF_CRM_1627289620">
										<label for="o1_3" class="options__label">
											<span class="options__text">от 1 000 000 ₽ до 2 000 000 ₽</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o1_4" class="options__input" type="radio" value="от 2 000 000 ₽ до 3 000 000 ₽" name="UF_CRM_1627289620">
										<label for="o1_4" class="options__label">
											<span class="options__text">от 2 000 000 ₽ до 3 000 000 ₽</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o1_5" class="options__input" type="radio" value="более 3 000 000 ₽" name="UF_CRM_1627289620">
										<label for="o1_5" class="options__label">
											<span class="options__text">более 3 000 000 ₽</span>
										</label>
									</div>
								</div>
							</div>
							<div class="content-quiz content-quiz_content_2" hidden="">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">До расчета осталось</div>
									<div class="content-quiz-info__progress">4 вопроса</div>
								</div>
								<h2 class="quiz__title title">Рассчитайте стоимость банкротства онлайн</h2>
								<div class="quiz__text title-subtitle">
									Ответьте на вопросы и узнайте <span>за 1 минуту</span> подходит ли вам процедура
									банкротства и
									<span>получите точную стоимость</span>
								</div>
								<div class="quiz__progress progress">
									<div class="progress__title">Вопрос 2</div>
									<div class="progress__line">
										<div class="progress__percent" style="width: 40%"></div>
									</div>
								</div>
								<div class="content-quiz__title">Подали ли на вас в суд кредиторы?<span>*</span></div>
								<div class="options">
									<div class="options__item">
										<input id="o2_1" class="options__input" checked="" type="radio" value="Да" name="UF_CRM_1600427611284">
										<label for="o2_1" class="options__label">
											<span class="options__text">Да</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o2_2" class="options__input" type="radio" value="Нет" name="UF_CRM_1600427611284">
										<label for="o2_2" class="options__label">
											<span class="options__text">Нет</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o2_3" class="options__input" type="radio" value="Нет, но грозятся" name="UF_CRM_1600427611284">
										<label for="o2_3" class="options__label">
											<span class="options__text">Нет, но грозятся</span>
										</label>
									</div>
								</div>
							</div>
							<div class="content-quiz content-quiz_content_3" hidden="">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">До расчета осталось</div>
									<div class="content-quiz-info__progress">3 вопроса</div>
								</div>
								<h2 class="quiz__title title">Рассчитайте стоимость банкротства онлайн</h2>
								<div class="quiz__text title-subtitle">
									Ответьте на вопросы и узнайте <span>за 1 минуту</span> подходит ли вам процедура
									банкротства и
									<span>получите точную стоимость</span>
								</div>
								<div class="quiz__progress progress">
									<div class="progress__title">Вопрос 3</div>
									<div class="progress__line">
										<div class="progress__percent" style="width: 60%"></div>
									</div>
								</div>
								<div class="content-quiz__title">Есть ли у вас просрочки по кредитам?<span>*</span></div>
								<div class="options">
									<div class="options__item">
										<input id="o3_1" class="options__input" checked="" type="radio" value="Да" name="UF_CRM_1625646672">
										<label for="o3_1" class="options__label">
											<span class="options__text">Да</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o3_2" class="options__input" type="radio" value="Нет" name="UF_CRM_1625646672">
										<label for="o3_2" class="options__label">
											<span class="options__text">Нет</span>
										</label>
									</div>
								</div>
							</div>
							<div class="content-quiz content-quiz_content_4" hidden="">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">До расчета осталось</div>
									<div class="content-quiz-info__progress">2 вопроса</div>
								</div>
								<h2 class="quiz__title title">Рассчитайте стоимость банкротства онлайн</h2>
								<div class="quiz__text title-subtitle">
									Ответьте на вопросы и узнайте <span>за 1 минуту</span> подходит ли вам процедура
									банкротства и
									<span>получите точную стоимость</span>
								</div>
								<div class="quiz__progress progress">
									<div class="progress__title">Вопрос 4</div>
									<div class="progress__line">
										<div class="progress__percent" style="width: 80%"></div>
									</div>
								</div>
								<div class="content-quiz__title">
									Обращались ли вы в другие организации?<span>*</span></div>
								<div class="options">
									<div class="options__item">
										<input id="o4_1" class="options__input" checked="" type="radio" value="Да" name="UF_CRM_5F649955DE13E">
										<label for="o4_1" class="options__label">
											<span class="options__text">Да</span>
										</label>
									</div>
									<div class="options__item">
										<input id="o4_2" class="options__input" type="radio" value="Нет" name="UF_CRM_5F649955DE13E">
										<label for="o4_2" class="options__label">
											<span class="options__text">Нет</span>
										</label>
									</div>
								</div>
							</div>
							<div class="content-quiz content-quiz_content_5" hidden="">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">До расчета осталось</div>
									<div class="content-quiz-info__progress">1 вопрос</div>
								</div>
								<h2 class="quiz__title title">Рассчитайте стоимость банкротства онлайн</h2>
								<div class="quiz__text title-subtitle">
									Ответьте на вопросы и узнайте <span>за 1 минуту</span> подходит ли вам процедура
									банкротства и
									<span>получите точную стоимость</span>
								</div>
								<div class="quiz__progress progress">
									<div class="progress__title">Вопрос 5</div>
									<div class="progress__line">
										<div class="progress__percent" style="width: 100%"></div>
									</div>
								</div>
								<div class="content-quiz__title">Сколько у вас кредиторов?<span>*</span></div>
								<div class="form">
									<div class="form__input">
										<input class="input" autocomplete="off" type="text" value="1" id="count-credit" name="UF_CRM_1639566439" placeholder="0">
									</div>
								</div>
							</div>
							<div class="content-quiz content-quiz_content_6" hidden="">
								<div class="content-quiz-info">
									<div class="content-quiz-info__text">ФИНАЛ</div>
								</div>
								<h2 class="quiz__title title">Юрист уже <br> приступил к расчету</h2>
								<div class="quiz__text title-subtitle">
									Введите ваш номер телефона и получите расчет стоимости вашего банкротства
								</div>
									<div class="form__row">
										<div class="form__column">
											<label class="form__label" for="nameq">Ваше имя<span>*</span></label>
											<div class="form__input">
												<input class="input" autocomplete="off" id="nameq" type="text" placeholder="Иван" name="NAME" required>
											</div>
										</div>
									</div>
									<div class="form__row">
										<div class="form__column">
											<label class="form__label" for="PHONE">Номер телефона<span>*</span></label>
											<div class="form__input">
												<input class="input" autocomplete="off" type="text" placeholder="+7 999 999 99 99" name="PHONE" id="PHONE" required>
											</div>
										</div>
									</div>
<!--									<div class="form__row">-->
<!--										<div class="form__column">-->
<!--											<label class="form__label" for="place">Регион проживания</label>-->
<!--											<div class="form__input">-->
<!--												<input class="input" autocomplete="off" id="place" type="text" placeholder="Москва" name="REGION">-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="form__text">-->
<!--											Нажимая на кнопку “Получить стоимость” я даю согласие на&nbsp;обработку <a href="">персональных-->
<!--												данных</a>-->
<!--										</div>-->
<!--									</div>-->
									<div class="form__row ">
										<button class="form__button button" type="submit"><span class="content-xl">Получить стоимость своего банкротства</span><span class="content-xs">Получить рассчет</span></button>
									</div>
								</form>
							</div>
						</div>
						<div class="quiz__actions">
							<button class="quiz__btn button quiz-step-prev button_outline" aria-label="Назад" type="button" style="display: none;">
								<span>Назад</span></button>
							<button class="quiz__btn button quiz-step-next" aria-label="Далее" type="button" style="display: inline-flex;"><span>Следующий вопрос</span>
							</button>
						</div>
					</div>
				</div>
			</section>