{% load static %}
<title>
  {% if title %}
  {{ title }}
  {% else %}
  Банкротство физических лиц
  {% endif %}
</title>
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% else %}
  <meta name="description" content="Деск не заполнен">
  {% endif %}

<meta charset="UTF-8">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">