{% load static %}
<div class="header-bottom">
				<div class="header-bottom__container">
					<div class="header-bottom__menu menu">
						<nav class="menu__body">
							<ul class="menu__list" data-spoilers="991.98">
								<li class="menu__item _active"><a href="{% url 'about' %}" class="menu__link">О нас</a></li>

								<li class="menu__item"><a href="{% url 'articles' %}" class="menu__link">Статьи</a></li>
								<li class="menu__item">
									<a href="#" class="menu__link _icon-dropdown" data-spoiler>Клиентам</a>
									<ul class="submenu">
										<li class="submenu__item"><a href="{% url 'calculator' %}">Калькулятор стоимости банкротства</a></li>
										<li class="submenu__item"><a href="{% url 'reviews' %}">Отзывы наших клиентов</a></li>
										<li class="submenu__item"><a href="{% url 'cases' %}">Завершенные дела</a></li>
										<li class="submenu__item"><a href="">Последствия банкротства</a></li>
									</ul>
								</li>
								<li class="menu__item"><a href="{% url 'faq' %}" class="menu__link">Основные вопросы</a></li>
								<li class="menu__item"><a href="{% url 'contacts' %}" class="menu__link">Контакты</a></li>
								<li class="menu__item"><a href="{% url 'sale' %}" class="menu__link">Скидки</a></li>
							</ul>
							<ul class="menu__list">
								<li class="menu__item"><a href="{% url 'vacancies' %}" class="menu__link">Вакансии</a></li>
								<li class="menu__item"><a href="{% url 'cooperation' %}" class="menu__link">Сотрудничество</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>