{% load static %}
<div class="header-bottom">
				<div class="header-bottom__container">
					<div class="header-bottom__menu menu">
						<nav class="menu__body">
							<ul class="menu__list" data-spoilers="991.98">
								<li class="menu__item _active"><a href="{% url 'about' %}" class="menu__link">О нас</a></li>
								<li class="menu__item">
									<a href="#" class="menu__link _icon-dropdown" data-spoiler>услуги</a>
									<ul class="submenu">
										<li class="submenu__item"><a href="">Банкротство физических лиц</a></li>
										<li class="submenu__item"><a href="">Защита от коллекторов</a></li>
										<li class="submenu__item"><a href="">Работа с уполномоченными органами</a></li>
										<li class="submenu__item"><a href="">Составление договоров, исков, ведение дел в
												судах</a></li>
										<li class="submenu__item"><a href="">Отмена судебных приказов</a></li>
										<li class="submenu__item"><a href="">Семейное право</a></li>
									</ul>
								</li>
								<li class="menu__item"><a href="{% url 'news' %}" class="menu__link">Новости</a></li>
								<li class="menu__item">
									<a href="#" class="menu__link _icon-dropdown" data-spoiler>Клиентам</a>
									<ul class="submenu">
										<li class="submenu__item"><a href="">Калькулятор стоимости банкротства</a></li>
										<li class="submenu__item"><a href="">Отзывы наших клиентов</a></li>
										<li class="submenu__item"><a href="">Завершенные дела</a></li>
										<li class="submenu__item"><a href="">Основные вопросы</a></li>
										<li class="submenu__item"><a href="">Последствия банкротства</a></li>
										<li class="submenu__item"><a href="">Скидки</a></li>
									</ul>
								</li>
								<li class="menu__item"><a href="#" class="menu__link">Основные вопросы</a></li>
								<li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
								<li class="menu__item"><a href="#" class="menu__link">Скидки</a></li>
							</ul>
							<ul class="menu__list">
								<li class="menu__item"><a href="#" class="menu__link">Вакансии</a></li>
								<li class="menu__item"><a href="#" class="menu__link">Сотрудничество</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>