{% load static %}
<script src="{% static 'js/app.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
<script>
// Заполняем тайтл
  let title = document.getElementById('title');
  title.value =
  {% if namePage %}
  '{{namePage}}'
  {% elif title %}
  '{{title}}'
  {% else %}
    document.title
  {% endif %};
</script>

<script>
$(function(){
  // Маски
  $('input[name="PHONE"]').mask("+7 (999)-999-99-99"); // Телефон
});
</script>

<script>
function getIPFromAmazon() {
  fetch('https://checkip.amazonaws.com/')
    .then((res) => res.text())
    .then((data) => localStorage.setItem("IPClient", data));
}

getIPFromAmazon();
</script>


<script>
  let referSite = new URL(document.referrer).hostname;
  let locationHost = window.location.host;

  	if (localStorage.getItem("referSite"))
    {
      if (referSite != locationHost && referSite != localStorage.getItem("referSite")){
        localStorage.setItem("referSite", referSite);
      }
      else{
      }
    }

  else{
   localStorage.setItem("referSite", referSite);
  }
</script>

<script>
    $(document).ready(function () {
        $('form').submit(function () {
        var ipClient = localStorage.getItem("IPClient");
        var referSite = localStorage.getItem("referSite");
            $.ajax({
                data: $(this).serialize()+'&referSite='+referSite+'&ipClient='+ipClient,
                type: $(this).attr('method'),
                url: '{% url 'handler' %}',
                success: function (response) {
      			 if (response == "True") {
                  console.log('Все ок');
                } else {
                alert(response); }
                },

            });
            return false;
        });
    })
</script>