{% load static %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('form').submit(function () {
        var ipClient = localStorage.getItem("IPClient");
        var referSite = localStorage.getItem("referSite");
        var namePage = document.getElementById('namePage');
            $.ajax({
                data: $(this).serialize()+'&referSite='+referSite+'&ipClient='+ipClient+'&TITLE='+namePage.value,
                type: $(this).attr('method'),
                url: '{% url 'handler' %}',
                success: function (response) {
      			 if (response == "True") {
                  document.location.href = '{% url 'thanks' %}'
                } else {
                alert(response); }
                },

            });
            return false;
        });
    })
</script>
<!--<script>-->

<!--function selectOffice(){-->
<!--    let rostov = document.getElementById('RND');-->
<!--    let msk = document.getElementById('MSK');-->
<!--    let spb = document.getElementById('SPB');-->
<!--    let select = document.getElementById('city');-->
<!--    let sl = Array.from(document.getElementsByClassName('select__content')).map(elem => elem.innerText);-->

<!--    msk.style.display = 'None';-->
<!--    spb.style.display = 'None';-->


<!--    console.log('Зашел в функцию');-->
<!--    document.body.addEventListener('click', function(e) {-->
<!--    console.log('Ты кликнул');-->
<!--    console.log(select.value);-->
<!--        if (sl == 'Ростов-на-Дону'){-->
<!--            console.log('Выбран Ростов');-->
<!--            rostov.style.display = "Block";-->
<!--            msk.style.display = "None";-->
<!--            spb.style.display = "None";-->

<!--        }-->
<!--        else if (sl == 'Москва'){-->
<!--            msk.style.display = "Block";-->
<!--            rostov.style.display = "None";-->
<!--            spb.style.display = "None";-->
<!--            console.log('Выбран МСК');-->

<!--        }-->
<!--        else if (sl == 'Санкт-Петербург'){-->
<!--            spb.style.display = "Block";-->
<!--            msk.style.display = "None";-->
<!--            rostov.style.display = "None";-->
<!--            console.log('Выбран СПБ');-->
<!--        }-->

<!--	})-->
<!--}-->

<!--selectOffice()-->
<!--</script>-->