{% load static %}
<script src="{% static 'js/app.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
  $("#form").on("submit", function (event) {
    event.preventDefault(); // Отменяем стандартное поведение формы
    var $data = {};
    $('#form').find ('input, textearea, select').each(function() {
      $data[this.name] = $(this).val();
    });
    b = window.location.search.replace( '?', '');
    console.log(b)

    $.ajax({
      url: "{% url 'handler' %}", // Здесь указываем URL-адрес серверного обработчика
      type: "post",
      data: $data,
      success: function (response) {
        console.log("Данные успешно отправлены!");
      },
      error: function (error) {
        console.error("Ошибка при отправке данных: ", error);
      },
    });
  });
});
  </script>